.nav-container{
    margin: 0;
    padding: 0;
    width: 170px;
    vertical-align: baseline;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
  }

  .category-search ul {
    list-style-type: none;
    margin-top: 0;
    padding: 10px;
  }

.nav-ingredients {
  font-size: 14px;
  background-color: #fff;
  color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.sign-in {
  background-color: #4b9b96;
  box-sizing: border-box;
  color: whitesmoke;
  width: 75%;
  border: 5px solid white;
  padding: 10px;
}
  